body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    background-image:url("QUALITY.png");width: 445px;height: 543px ;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 450px;
    margin: 600pt;
    margin-top: 150px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .form1{
    position: relative;
  }
  
  .form-group {
    margin-right: 25px;
    margin-bottom: 25px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #cccccc;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  input[type="text"]:hover{
    background-color: rgb(252, 248, 244);
  }
  input[type="password"]:hover{
    background-color: rgb(252, 248, 244);
  }
  